<div class="row">
  <div class="col-4">
    <img src="<%= category.icon %>" alt="<%= category.name %>">
  </div>
  <div class="col-8">
    <p><%= category.name %></p>
    <%
=begin%>
  add sum later
<%
=end%>
  </div>
</div>