<div class="container">
  <div class="justify-content-center">
    <h1>Welcome to Ease Expense</h1>
    <a href="<%= new_user_session_path %>" class="btn btn-primary">Login</a>
    <a href="<%= new_user_registration_path %>" class="btn btn-light">Signup</a>
  </div>
</div>
