<div class="container d-flex flex-column justify-content-between" style="height: 90vh;">
  <div class="d-flex flex-column text-center justify-content-center" style="flex: 1;">
    <h1 class="welcome-title">Ease Expense</h1>
    <div class="d-grid gap-2 fixed-bottom p-3">
      <a href="<%= new_user_session_path %>" class="btn btn-primary btn-lg">LOG IN</a>
      <a href="<%= new_user_registration_path %>" class="btn btn-light btn-lg">SIGN UP</a>
    </div>
  </div>
</div>
